awscli==1.7.27
backports.ssl-match-hostname==3.4.0.2
bcdoc==0.14.0
beautifulsoup4==4.4.0
boto==2.33.0
botocore==0.108.0
certifi==2015.9.6.2
colorama==0.3.3
decorator==3.4.0
Django==1.8.4
docutils==0.12
Flask==0.10.1
GraphLab-Create==1.5.2
gunicorn==19.3.0
ipdb==0.8.1
ipykernel==4.0.3
ipython==4.0.0
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
jmespath==0.7.1
jsonschema==2.4.0
jupyter-client==4.0.0
jupyter-core==4.0.4
librato-metrics==0.4.9
MarkupSafe==0.23
mistune==0.7.1
mixpanel-py==3.1.1
multipledispatch==0.4.8
nbconvert==4.0.0
nbformat==4.0.0
nltk==3.0.5
notebook==4.0.4
numpy==1.9.3
pexpect==3.3
pickleshare==0.5
prettytable==0.7.2
psycopg2==2.6
ptyprocess==0.4
pyasn1==0.1.8
Pygments==2.7.4
python-dateutil==2.4.2
pyzmq==14.7.0
requests==2.3.0
rsa==3.1.4
simplegeneric==0.8.1
six==1.9.0
sseclient==0.0.8
terminado==0.5
tornado==4.1
traitlets==4.0.0
Werkzeug==0.10.4
wheel==0.26.0
